<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lavashxona</title>
</head>
<body>
<h1>Design your Lavash my brother!!!</h1>
<img src="/main/resources/static/images/download.jpg">
<form method="POST"  th:object="${lavash}">
    <div class="grid" >                                                                                                 <!-- TODO: How to show in front if they did not choose 2 objects -->
        <div class="ingredient-group" id="wraps" >
            <h3>Designate your dough:</h3>
            <div th:each="ingredient : ${DOUGH}">
                <input type="checkbox"
                       name="bir"
                       th:value="${ingredient.id}"
                       th:field="*{ingredients}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Pick your meat:</h3>
            <div th:each="ingredient : ${MEAT}">
                <input type="checkbox" name="ikki"
                       th:field="*{ingredients}"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${CHEESE}">
                <input type="checkbox" name="CHEESE"
                       th:field="*{ingredients}"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Determine your vegetables:</h3>
            <div th:each="ingredient : ${VEGETABLES}">
                <input type="checkbox"
                       th:field="*{ingredients}"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient : ${SAUCE}">
                <input type="checkbox"
                       th:field="*{ingredients}"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name your lavash creation:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>

        <button type="submit">Submit Your Lavash</button>
    </div>
</form>

</body>
</html>